

    h1 ,h2 {
        color:green;
        text-align:left; 
        text-transform:capitalize;
        font-family: Arial, Helvetica, sans-serif;  
        align-content: center;
        font-size: x-large;
      }

  